.circle {
  width: 150px;
  height: 150px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.circle .copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
   -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
     -o-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
}

.grocery-img {
  width: 100%;
}

.active {
  box-shadow: red 0 0 5px;
}