.active {
  box-shadow: red 0 0 5px;
}

body {
  padding-top: 50px;
}

.box-panel {
  overlow: hidden;

  img {
    max-height: 20%;
    max-width: 100%;
  }
}

.circle {
  width: 150px;
  height: 150px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  position: relative;
  margin: auto;


  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
     -moz-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
       -o-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  }
}

footer {
  margin: 50px 0;
}

.grocery-panel {
  width: 260px;
}

.img-center {
    margin: 0 auto;
}

main {
  padding-top: 30px;
}

.map {
  margin-left: 0;
  padding: 0;

  .panel-body {
    padding: 0;
  }
}

.panel-body {
  background-color: #fafff9;
}

.panel-img {
  width: 260px;
  height: 180px;
}

.redeem-panel {
  overflow: hidden;
  margin: 10px;
  padding: 20px;
}

.redeem-img {
    width: 200px;
    height: 200px;
}

.shelter-grocery-pnl {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}


