#landingNav {
  background-color: #f8e9d6;
  border: 0;
  color: #000;
  height: 90px;
  padding: 0 30px 0 150px;

  .logo {
    color: #ea2e70;
    font-family: "Arciform", sans-serif;
    font-size: 2.2em;
    float: left;
    line-height: 90px;
  }

  .user-account {
    float: right;
    line-height: 90px;
  }
}

#landingNav a:link {
  color: #000;
  padding-left: $default-padding;
}

#landingNav a:hover {
  color: #000;
  text-decoration: none;
}

.landing-footer {
  background-color: #eae9e9;
  background-size: cover;
  min-height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 300px 0 0 0;
  text-align: center;

  button {
    border-radius: 0;
    background-color: tomato;
    color: #fff;
  }
}

.masthead {
  background-color: #f8e9d6;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 550px;
  padding: 50px 0 0 0;

  .tag-line {
    height: 150px;
    min-width: 450px;
    padding-top: 125px;
    text-align: center;

    h2 {
      letter-spacing: -1px;
      vertical-align: bottom;
    }
  }

  .image-container {
    height: 400px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;

    .masthead-image {
      height: auto;
      max-width: 30%;
      width: auto;
    }
  }
}

.overview {
  padding-top:50px;

  .heading {
    text-align: center;
  }
}


